* {
    box-sizing: border-box;
}

body {
    background-color: #BFD5E2;
}

/* Navigation Styles */
.nav-link {
    color: #E0279D;
    font-weight: bold;
}

.nav-link:hover {
    color: #ECFFF8;
}

.nav-link:focus {
    color: #99FFDA;
}

.active {
    color: #D5A18E;
}

nav div img {
    margin-right: 5px;
}

.dropdown-toggle {
    margin-left: -10px;
}

/* Jumbotron Styles */
.jumbotron {
    background-image: url("../images/Colorful_galaxy_\(Unsplash\).png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    color: #ECFFF8;
}

.jumbotron img {
    width: 200px;
}

/* Media Queries */
@media screen and (max-width: 992px){
    nav div img {
        margin-left: 10px;
    }

    .nav-link {
        margin-left: 10px;
    }

    .dropdown-toggle {
        margin-left: 60px;
        margin-top: -40px;
    }
}